/* You can add global styles to this file, and also import other style files */
 *{
     margin: 0 ;
     padding: 0;
     font-family: Helvetica; 
     box-sizing: border-box;
 }

 h1, h2, h3, h4, h5, label, p {
     color: #FFF;
     margin: 0;
     padding: 0;
 }

 a {
     color: rgb(192, 192, 192);
 }

 a:hover{
     color:#FFF;
     cursor: pointer;
 }

 form {
     max-width: 350px;
     display: flex;
     flex-direction: column;
     margin: 50px auto;
 }

 #splash {
    width: 100%;
    height: 400px;
    background: url('/assets/heroes.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

 label {
     display: flex;
     flex-direction: column;
     width: 100%;
     margin: 10px auto;
     font-weight: bold;
 }

 input[type="text"],
 input[type="password"],
 input[type="email"]{
     font-size: 1.5rem;
     padding: 10px 5px 0 5px;
     background: none;
     color: #FFF;
     border: 0;
     border-bottom: 1px #FFF solid;
     user-select: none;
     outline: none;
 }

 button,
 input[type="submit"]{
     width: 100px;
     padding: 7px;
     font-size: 1rem;
     text-align: center;
     background: blue;
     color: #FFF;
     border: 0;
     border-radius: 5px;
     outline: none;
 }

 button:hover,
 input[type="submit"]:hover {
     background: rgb(80, 80, 255);
 }

 button:active,
 input[type="submit"]:active {
    background: rgb(118, 118, 253);
}

 body {
     background: #000;

    }

 .container {
     margin: 0 auto;
     padding: 100px 0;
     width: 100%;
     max-width: 1200px;
     height: auto;
 }

 .component-title {
     text-align: center;
     margin: 0 auto;
 }

 #tab-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: 1px #FFF solid;
}

#tab-menu li {
    padding: 10px 10px 5px 10px;
    list-style-type: none;
}

#tab-menu li a:hover{
    color:#FFF;
    cursor: pointer;
}

.tab-content {
    padding: 20px 0;
}

.game-grid {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.game-card {
    width: 150px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    color: #FFF;
    font-size: 0.8rem;
    margin: 10px;   
    background: rgb(39, 39, 39);
}

.game-card-date {
    text-align: center;
}

.game-card img {
    display: block;
    width: 100%;
    height: auto;
 }


 .game-card-img-container {
     height: 150px;
     width: 150px;
     overflow: hidden;
 }

 


 .game-card-p-container {
     height: 100px;
     width: 150px;
     overflow: hidden;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
 }

 .game-card-p-container p{
     margin: auto 10px;
 }


.game-card select {
    margin: 10px;
}

.game-card-status {
    width: 100%;
    padding: 7px 0;
    font-size: 0.7rem;
    text-transform: uppercase;
    text-align: center;
    background: red;
    color: #FFF;
    border: 0;
    outline: none;
}

.game-card-btn,
.game-card button {
    width: 100%;
    font-size: 0.7rem;
    text-transform: uppercase;
    border-radius: 0;
}
.game-card-btn:hover,
.game-card button:hover {
    background: rgb(81, 81, 255);
}

.game-card-btn:active,
.game-card button:active {
    background: rgb(108, 153, 250);
}

.trades-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.trade-match{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 0;
    margin: 0;
}

.trade-card {
    margin: 10px;
    padding: 20px;
    background: rgb(20, 20, 20);
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

hr {
    margin: 50px auto;
}

.trade-card button {
    font-size: 0.7rem;
    text-transform: uppercase;
}

.trade-card button:hover {
    background: rgb(81, 81, 255);
}

.trade-card button:active {
    background: rgb(108, 153, 250);
}

#select-game-window {
    height: 800px;
    width: 800px;
    position: fixed;
    box-sizing: border-box;
    border: 10px rgb(49, 49, 49) solid;
    background: #000;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -400px;
    margin-left: -400px;
    padding: 20px;
    overflow: auto;
}

.trade-request-placeholder{
    height: 250px;
    width: 150px;
    background: none;
    border: 5px rgb(192, 192, 192)
    dashed;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.trade-request-placeholder a {
    display: block;
}

.no-content {
    text-align: center;
    margin: 100px auto;
}





