/* You can add global styles to this file, and also import other style files */
 *{
     margin: 0 ;
     padding: 0;
     font-family: Helvetica; 
 }

 h1, h2, h3, h4, h5, label, p {
     color: #FFF;
     margin: 0;
     padding: 0;
 }

 a {
     color: rgb(192, 192, 192);
 }

 a:hover{
     color:#FFF;
     cursor: pointer;
 }

 form {
     max-width: 350px;
     display: flex;
     flex-direction: column;
     margin: 50px auto;
 }

 label {
     display: flex;
     flex-direction: column;
     width: 100%;
     margin: 10px auto;
     font-weight: bold;
 }

 input[type="text"],
 input[type="password"],
 input[type="email"]{
     font-size: 1.5rem;
     padding: 10px 5px 0 5px;
     background: none;
     color: #FFF;
     border: 0;
     border-bottom: 1px #FFF solid;
     user-select: none;
     outline: none;
 }

 button,
 input[type="submit"]{
     width: 100px;
     padding: 7px;
     font-size: 1rem;
     text-align: center;
     background: blue;
     color: #FFF;
     border: 0;
     border-radius: 5px;
     outline: none;
 }

 button:hover,
 input[type="submit"]:hover {
     background: rgb(80, 80, 255);
 }

 button:active,
 input[type="submit"]:active {
    background: rgb(118, 118, 253);
}

 body {
     background: #000;

    }

 .container {
     margin: 0 auto;
     padding: 100px 0;
     width: 100%;
     max-width: 1000px;
     height: auto;
 }

 .component-title {
     text-align: center;
     margin: 0 auto;
 }

 #tab-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: 1px #FFF solid;
}

#tab-menu li {
    padding: 10px 10px 5px 10px;
    list-style-type: none;
}

#tab-menu li a:hover{
    color:#FFF;
    cursor: pointer;
}

.tab-content {
    padding: 20px 0;
}

.game-grid {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.game-card {
    width: 120px;
    height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #FFF;
    font-size: 0.8rem;
    margin: 40px 20px;
}

.game-card * {
    margin: 5px 0;
}

.game-card img {
    display: block;
    max-width: 120px;
    max-height: 160px;
    width: auto;
    height: auto;
}

.game-card button {
    width: 100%;
    font-size: 0.7rem;
    text-transform: uppercase;
}

.game-card button:hover {
    background: rgb(81, 81, 255);
}

.game-card button:active {
    background: rgb(108, 153, 250);
}

.trade-card {
    background: rgb(39, 39, 39);
    margin: 20px auto;
    padding: 10px;
}

.trade-card img {
    display: block;
    max-width: 120px;
    max-height: 160px;
    width: auto;
    height: auto;
}

.trade-card button {
    font-size: 0.7rem;
    text-transform: uppercase;
}

.trade-card button:hover {
    background: rgb(81, 81, 255);
}

.trade-card button:active {
    background: rgb(108, 153, 250);
}





