
table {
    padding: 0;
}

table p {
    color: #fff;
}

table,
table tr,
table td {
    border: 0;
    border-spacing: 0;
}

table tr td {
    padding: 15px;
}

table tr td:nth-child(1){
    width: 300px;
    text-align: center;
}

table tr td:nth-child(2){
    text-align: left;
    line-height: 1.5;
}

table th {
    background: rgb(20, 20, 20);
    padding: 15px;
}

table tr:nth-child(odd) {
    background: rgb(15, 15, 15);
}

table tr:nth-child(even) {
    background: rgb(10, 10, 10);
}