<div *ngIf="displaySelectGameWindow" id="select-game-window">
  <a (click)="closeSelectGameWindow()">CLOSE</a>

  <h3>Choose a game from {{selectGameWindowInitiator}} to complete the trade:</h3>
  <div class="game-card" *ngFor="let game of selectGameWindowGames">
    <div *ngIf="game.available">
      <img src="{{game.cover}}">
      <p>{{game.title}}</p>
      <p>{{game.platform}}</p>
      <p>{{game.owner}}</p>
      <button (click)="selectGame(game)">Select Game</button>
    </div>
  </div>
</div>

<div class="container">
  <ul id="tab-menu">
    <li>
      <a (click)="displayContent('Trade Requests')">Trade Requests</a>
    </li>
    <li>
      <a (click)="displayContent('Active Trades')">Active Trades</a>
    </li>
    <li>
      <a (click)="displayContent('Trade History')">Trade History</a>
    </li>
  </ul>

  <div *ngIf="displaySelectGameWindow" id="select-game-window">
    <h3>Select a game from {{initiator}} to complete the trade:</h3>
    <a (click)="closeSelectGameWindow()">CLOSE</a>
    <div *ngFor="let game of initiatorGames" class="game-card">
      <img src="{{game.cover}}">
      <p>{{game.title}}</p>
      <p>{{game.platform}}</p>
      <button (click)="selectGame(tradeRequest, game)">Select this game</button>
    </div>
  </div>

  <div *ngIf="displayTradeRequests" class="tab-content">

    <h1>Incoming trade requests: {{this.tradeService.incoming.length}}</h1>
    <div class="incoming-trades">
      <div class="incoming-trade-card" *ngFor="let tradeRequest of this.tradeService.incoming">
        <p>{{tradeRequest.date}}</p>
        <p>{{tradeRequest.initiator}} has requested to trade with you.</p>

        <div class="trade-match">
          <div class="game-card">
            <img src="{{tradeRequest.game.cover}}">
            <p>{{tradeRequest.game.title}}</p>
            <p>{{tradeRequest.game.platform}}</p>
            <p>{{tradeRequest.game.owner}}</p>
          </div>

          <div *ngIf="tradeRequest.game2; else noGame2" class="game-card">
            <img src="{{tradeRequest.game2.cover}}">
            <p>{{tradeRequest.game2.title}}</p>
            <p>{{tradeRequest.game2.platform}}</p>
            <p>{{tradeRequest.game2.owner}}</p>
            <button (click)="openSelectGameWindow(tradeRequest)">Change Selection</button>
          </div>
          <ng-template #noGame2>
            <div class="trade-request-placeholder">
              <a (click)="openSelectGameWindow(tradeRequest)">
                Select a game from {{tradeRequest.initiator}} to complete the trade.
              </a>
            </div>
          </ng-template>
        </div>

        <div>
          <button (click)="this.tradeService.acceptTradeRequest(tradeRequest)" [disabled]="!tradeRequest.game2">Accept</button>
          <button (click)="this.tradeService.denyTradeRequest(tradeRequest)">Deny</button>
        </div>
      </div>

    </div>
    <hr>
    <h1>Outgoing trade requests: {{this.tradeService.outgoing.length}}</h1>

    <div class="outgoing-trades">
      <div class="outgoing-trade-card" *ngFor="let tradeRequest of this.tradeService.outgoing">
        <div class="game-card">
          <p>{{tradeRequest.date}}</p>
          <img src="{{tradeRequest.game.cover}}">
          <p>{{tradeRequest.game.title}}</p>
          <p>{{tradeRequest.game.platform}}</p>
          <p>{{tradeRequest.game.owner}}</p>
          <button (click)="this.tradeService.cancelTradeRequest(tradeRequest)">Cancel</button>
        </div>
      </div>
    </div>
  </div>



  <div *ngIf="displayActiveTrades" class="tab-content">
    <h3>Active Trades</h3>
    <p>A list of active trades will help users track who has their games.</p>

    <div class="active-trade-card" *ngFor="let trade of this.tradeService.active">
      <p>{{trade.date}}</p>
      <div class="game-card">
        <img src="{{trade.game.cover}}">
        <p>{{trade.game.title}}</p>
        <p>{{trade.game.platform}}</p>
        <p>{{trade.game.owner}}</p>
      </div>

      <div class="game-card">
        <img src="{{trade.game2.cover}}">
        <p>{{trade.game2.title}}</p>
        <p>{{trade.game2.platform}}</p>
        <p>{{trade.game2.owner}}</p>
      </div>
    </div>
  </div>



  <div *ngIf="displayTradeHistory" class="tab-content">
    <h3>Trade History</h3>
    <p>Complete trade request history will be displayed here.</p>


    <div *ngFor="let record of this.tradeService.history">
      <h3>
        {{record.date}} {{record.msg}}
      </h3>
    </div>
  </div>
</div>