
.trade-request-placeholder {
    box-sizing: border-box;
    border: 5px gray dashed;
    height: 100%;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    text-align: center;
    padding: 25px;
    line-height: 1.2rem;
}

table {
    padding: 0;
    margin: 20px auto;
    color: #FFF;
    border-spacing: 0;
}

table td,
table th {
    padding: 15px;
}

table tr td:nth-child(1){
    width: 250px;
    text-align: center;
}

table tr td:nth-child(2){
    text-align: left;
    line-height: 1.5;
}

table tr:nth-child(odd) {
    background: rgb(35, 35, 35);
}

table tr:nth-child(even) {
    background: rgb(25, 25, 25);
}


@media only screen and (max-width: 600px) {

    table tr td:nth-child(1){
        width: 35%;
    }

}