<div *ngIf="displaySelectGameWindow" id="select-game-window">
  <a (click)="closeSelectGameWindow()">CLOSE</a>

  <h3>Choose a game from {{selectGameWindowInitiator}} to complete the trade:</h3>
  <div class="game-grid">
    <div class="game-card" *ngFor="let game of selectGameWindowGames">
        <img src="{{game.cover}}">
        <p>{{game.title}}</p>
        <p>{{game.platform}}</p>
        <p>
          <a [routerLink]="['/profile', game.owner]">{{game.owner}}</a>
        </p>
        <button (click)="selectGame(game)">Select Game</button>
      </div>
  </div>
</div>

<div class="container">
  <ul id="tab-menu">
    <li>
      <a (click)="this.tradeService.getTradeData(); displayContent('Incoming Trade Requests')">Incoming Trade Requests ({{this.tradeService.incoming.length}})</a>
    </li>
    <li>
      <a (click)="this.tradeService.getTradeData(); displayContent('Outgoing Trade Requests')">Outgoing Trade Requests ({{this.tradeService.outgoing.length}})</a>
    </li>
    <li>
      <a (click)="this.tradeService.getTradeData(); displayContent('Active Trades')">Active Trades</a>
    </li>
    <li>
      <a (click)="this.tradeService.getTradeData(); displayContent('Trade History')">Trade History</a>
    </li>
  </ul>

  <div *ngIf="displayIncomingTradeRequests" class="tab-content">

    <div class="incoming-trades">
      <div class="trade-card" *ngFor="let tradeRequest of this.tradeService.incoming">
        <h4 class="game-card-date">{{tradeRequest.date | date:'fullDate'}}</h4>
        <p> <a [routerLink]="['/profile', tradeRequest.initiator]">{{tradeRequest.initiator}}</a> has requested to trade with you.</p>

        <div class="trade-match">
          <div class="game-card">
            <img src="{{tradeRequest.game.cover}}">
            <p>{{tradeRequest.game.title}}</p>
            <p>{{tradeRequest.game.platform}}</p>
            <p>
              <a [routerLink]="['/profile', tradeRequest.game.owner]">{{tradeRequest.game.owner}}</a>
            </p>
          </div>

          <div *ngIf="tradeRequest.game2; else noGame2" class="game-card">
            <img src="{{tradeRequest.game2.cover}}">
            <p>{{tradeRequest.game2.title}}</p>
            <p>{{tradeRequest.game2.platform}}</p>
            <p>{{tradeRequest.game2.owner}}</p>
            <button (click)="openSelectGameWindow(tradeRequest)">Change Selection</button>
          </div>

          <ng-template #noGame2>
            <div class="trade-request-placeholder">
              <a (click)="openSelectGameWindow(tradeRequest)">
                Select a game from {{tradeRequest.initiator}} to complete the trade.
              </a>
            </div>
          </ng-template>

        </div>

        <div>
          <button (click)="this.tradeService.acceptTradeRequest(tradeRequest)" [disabled]="!tradeRequest.game2">Accept</button>
          <button (click)="this.tradeService.denyTradeRequest(tradeRequest)">Deny</button>
        </div>
      </div>
      

    </div>
    </div>
  




  <div *ngIf="displayOutgoingTradeRequests" class="tab-content">
    <div class="outgoing-trades">
      <div class="outgoing-trade-card" *ngFor="let tradeRequest of this.tradeService.outgoing">
        <div class="game-card">
          <p class="game-card-date">{{tradeRequest.date | date:'fullDate'}}</p>
          <img src="{{tradeRequest.game.cover}}">
          <p>{{tradeRequest.game.title}}</p>
          <p>{{tradeRequest.game.platform}}</p>
          <p>
            <a [routerLink]="['/profile', tradeRequest.game.owner]">{{tradeRequest.game.owner}}</a>
          </p>
          <button (click)="this.tradeService.cancelTradeRequest(tradeRequest)">Cancel</button>
        </div>
      </div>
    </div>
  </div>
    

  <div *ngIf="displayActiveTrades" class="tab-content">
    <h3>Active Trades</h3>

    <div class="trade-card" *ngFor="let trade of this.tradeService.active;">
      <h4 class="game-card-date">{{trade.date | date:'fullDate'}}</h4>
      <div class="trade-match">
        <div class="game-card">
          <img src="{{trade.game.cover}}">
          <p>{{trade.game.title}}</p>
          <p>{{trade.game.platform}}</p>
          <p>
            <a [routerLink]="['/profile', trade.game.owner]">{{trade.game.owner}}</a>
          </p>

          <button *ngIf="trade.game.owner === this.dataService.userData.username && !trade.gameReturned" (click)="this.tradeService.markReturned(trade.date, 'game')">
            Mark as returned
          </button>
          <p *ngIf="trade.gameReturned">RETURNED</p>
        </div>

        <div class="game-card">
          <img src="{{trade.game2.cover}}">
          <p>{{trade.game2.title}}</p>
          <p>{{trade.game2.platform}}</p>
          <p>
            <a [routerLink]="['/profile', trade.game2.owner]">{{trade.game2.owner}}</a>
          </p>

          <button *ngIf="trade.game2.owner === this.dataService.userData.username && !trade.game2Returned" 
            (click)="this.tradeService.markReturned(trade.date, 'game2')">
            Mark as returned
          </button>
          <p *ngIf="trade.game2Returned">RETURNED</p>
        </div>
      </div>
    </div>
  </div>


  <div *ngIf="displayTradeHistory" class="tab-content">
    <h3>Trade History</h3>

    <div *ngFor="let record of this.tradeService.history">
      <p class="game-card-date">
        {{record.date | date:'fullDate'}} {{record.msg}}
      </p>
    </div>
  </div>
</div>