<div class="container">


  <div class="container">

    <ul class="tab-menu">
      <li>
        <a id="profile-tab" (click)="displayContent('Edit Profile')">Edit Profile</a>
      </li>
      <li>
        <a id="account-tab" (click)="displayContent('Account Settings')">Account Settings</a>
      </li>
    </ul>


    <div *ngIf="displayEditProfileTab" class="tab-content">
      <h3>Edit Profile</h3>

      <form class="theme settings-box" [formGroup]="editProfileForm" (ngSubmit)="this.dataService.editProfile(editProfileForm.value); resetView()">
        <ul>
          <li>
            <img class="profile-img" [src]="selectedImg">
            <div *ngIf="displayPictureSelector" class="theme picture-selector">
              <div *ngFor="let picture of this.dataService.profilePics; let i = index">
                <a (click)="setPicture(i); togglePictureSelector()"><img src="{{picture}}"></a>
              </div>
            </div>
          </li>
          <li>
            <a (click)="togglePictureSelector()">Change Profile Picture</a>
            <a routerLink="/profile/{{this.dataService.userData.username}}">View Public Profile</a>
          </li>
          <li>
            <p>Display name publicly:</p>
            <select formControlName="displayName" name="displayName">
              <option value="Enable">Enable</option>
              <option value="Disable">Disable</option>
            </select>
          </li>
          <li>
            <p>Display email address publicly:</p>
            <select formControlName="displayEmail" name="displayEmail">
              <option value="Enable">Enable</option>
              <option value="Disable">Disable</option>
            </select>
          </li>
          <li>
          </li>
          <li *ngIf="!editBioMode; else edit">
            <div>
              <p>Bio:</p>
              <p>{{this.dataService.userData.profile.bio}}</p>
              </div>
            <a (click)="toggleEditBioMode()">Edit Bio</a>
          </li>
          <ng-template #edit>
            <li>
                <div>
                    <p>Bio:</p>
              <textarea formControlName="bio" name="bio">
              {{this.dataService.userData.profile.bio}}
            </textarea>
            </div>
            <a (click)="toggleEditBioMode()">Cancel</a>

            </li>
          </ng-template>


          <li>
            <input type="submit" value="Save Changes">
          </li>
        </ul>
      </form>
    </div>

    <div *ngIf="displayAccountSettingsTab" class="tab-content">
        <h3>Account Settings</h3>

      <ul class="theme settings-box">

        <li>
          <h2>{{ this.dataService.userData.first }} {{ this.dataService.userData.last }}</h2>
        </li>

        <li>
          <p>Location: {{ this.dataService.userData.city }}, {{ this.dataService.userData.state }}, {{ this.dataService.userData.country
            }}
          </p>
          <a (click)="displayForm('location')">Change Location</a>
        </li>

        <li>
          <p>Email Address: {{ this.dataService.userData.email }}</p>
          <a (click)="displayForm('email')">Change Email Address</a>
        </li>

        <li>
          <p>Password: ********</p>
          <a (click)="displayForm('password')">Change Password</a>
        </li>

        <li>
          <p>Delete Account</p>
          <a (click)="displayForm('delete account')">Delete Account</a>
        </li>
      </ul>
      <div>
        <form class="theme settings-box" *ngIf="displayChangeLocationForm" [formGroup]="changeLocationForm" (ngSubmit)="this.dataService.changeLocation(changeLocationForm.value); hideAllForms()">
          <h3>Update Your Location</h3>

          <label>City:
            <input type="text" formControlName="newCity" name="newCity">
          </label>

          <label>State:
            <input type="text" formControlName="newState" name="newState">
          </label>

          <label>Country:
            <input type="text" formControlName="newCountry" name="newCountry">
          </label>

          <input type="submit" [disabled]="!changeLocationForm.valid">
        </form>

        <form class="theme settings-box" *ngIf="displayChangeEmailForm" [formGroup]="changeEmailForm" (ngSubmit)="this.dataService.changeEmail(changeEmailForm.value)">
          <h3>Update your email address</h3>

          <label>
            Enter your new email address:
            <input type="email" formControlName="email" name="email">
            <div class="form-alert" *ngIf="!changeEmailForm.controls['email'].valid && changeEmailForm.controls['email'].touched">You must enter a valid email address.</div>
          </label>

          <label>
            Re-type your new email address:
            <input type="email" formControlName="email2" name="email2">
            <div class="form-alert" *ngIf="changeEmailForm.get('email2').hasError('required') && changeEmailForm.controls['email2'].touched">You must re-type your email address.</div>
      <div class="form-alert" *ngIf="changeEmailForm.controls.email2.errors?.emailMismatch">The email addresses you entered do not match.</div>
          </label>

          <input type="submit" [disabled]="!changeEmailForm.valid">

        </form>

        <form class="theme settings-box" *ngIf="displayChangePasswordForm" [formGroup]="changePasswordForm" (ngSubmit)="this.dataService.changePassword(changePasswordForm.value)">
          <h3>Change your password</h3>

          <label>
            Enter your current password:
            <input type="password" formControlName="oldPassword" name="oldPassword">
            <div class="form-alert" *ngIf="changePasswordForm.controls.password.errors?.required && changePasswordForm.controls['password'].touched">You must enter your current password.</div>
          </label>

          <label>
            Enter your new password:
            <input type="password" formControlName="password" name="password">
            <div class="form-alert" *ngIf="changePasswordForm.controls.password.errors?.required && changePasswordForm.controls['password'].touched">Password is required.</div>
      <div class="form-alert" *ngIf="changePasswordForm.controls.password.errors?.noSpecialChar">Your password must have at least one of the following special characters: !@#$%^&*</div>
      <div class="form-alert" *ngIf="changePasswordForm.controls.password.errors?.allUpperCase">Your password must have at least one lowercase letter.</div>
      <div class="form-alert" *ngIf="changePasswordForm.controls.password.errors?.allLowercase">Your password must have at least one uppercase letter.</div>
      <div class="form-alert" *ngIf="changePasswordForm.controls.password.errors?.noNumber">Your password must have at least one number.</div>
      <div class="form-alert" *ngIf="changePasswordForm.controls.password.errors?.minlength">Your password must be at least 8 characters.</div>
          </label>

          <label>
            Re-type your new password:
            <input type="password" formControlName="password2" name="password2">
            <div class="form-alert" *ngIf="changePasswordForm.get('password2').hasError('required') && changePasswordForm.controls['password2'].touched">You must re-type your password.</div>
            <div class="form-alert" *ngIf="changePasswordForm.controls.password2.errors?.passwordMismatch">The passwords you entered do not match.</div>
      
          </label>

          <input type="submit" [disabled]="!changePasswordForm.valid">
        </form>
      </div>

      <form class="theme settings-box" *ngIf="displayDeleteAccountForm" [formGroup]="deleteAccountForm" (ngSubmit)="this.dataService.deleteAccount(deleteAccountForm.value)">
        <h3>Delete your account</h3>
        <br>
        <p>Warning:</p>
        <p>You are about to delete your account. This is irreversible and all of your data will be lost. To proceed,
          please enter your password.</p>
        <input type="password" formControlName="password" name="password">
        <input type="submit" [disabled]="!deleteAccountForm.valid">
      </form>

    </div>

    <div *ngIf="displayTradeRequests" class="tab-content">
      <h3>Trade Requests</h3>
    </div>

    <div *ngIf="displayTradeHistory" class="tab-content">
      <h3>Trade History</h3>
    </div>

    <div *ngIf="displayActiveTrades" class="tab-content">
      <h3>Active Trades</h3>
    </div>
  </div>