.settings-box {
    list-style-type: none;
    color: #FFF;
    padding: 40px;
    margin: 20px auto;
    max-width: 700px;
}

.settings-box ul{
    width: 100%;
}

.settings-box li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 0;
}

.settings-box ul li a:nth-child(even){
    text-align: right;
}

.settings-box h2{
    margin: 0;
}

.settings-box textarea {
    width: 600px;
    height: 150px;
}

.picture-selector {
    width: 600px;
    height: 100px;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -300px;
    background: #000;
    z-index: 20;
}

.picture-selector img {
    height: 100px;
    width: 100px;
}

@media only screen and (max-width: 600px){

    .settings-box {
        padding: 15px;
    }

    .settings-box textarea{
        width: 250px;
    }

    .picture-selector {
        width: 100vw;
        top: 40%;
        left: 0;
        margin-top: 0;
        margin-left: 0;
        padding: 0;
    }
}

