#account-data {
    list-style-type: none;
    color: #FFF;
    padding: 40px;
    margin: 20px auto;
}

#account-data li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px 0;
}

#account-data h2{
    margin: 0;
}
