h2 {
    margin-left: 0;
    text-align: left;
}

#account-data {
    max-width: 1000px;
    margin: 20px auto;
    font-size: 1rem;
    padding: 0;
}

#account-data li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px 0;
}

#account-data p,
#account-data h2,
#account-data a {
    color: #fff;
}