
        <div id="splash" *ngIf="this.dataService.currentUser">
                <div class="splash-blocks-container">
                        <div class="splash-block1">
                                <h1>GameTrader</h1>
                                <h4>A freecodecamp project</h4>
                                <h4>Powered by
                                        <a href="https://www.igdb.com/" target="_blank">IGDB API</a>
                                </h4>
                        </div>
                </div>
        </div>

<div class="container" *ngIf="this.dataService.currentUser; else loggedOut">

        <div *ngIf="this.homeGames.length > 0; else noHomeGames" class="game-grid">
                <div *ngFor="let game of this.homeGames">
                        <div class="game-card" *ngIf="game.available">
                                <div class="game-card-img-container">
                                        <img src="{{game.cover}}">
                                </div>
                                <div class="game-card-p-container">
                                        <p>{{game.title}}</p>
                                        <p>{{game.platform}}</p>
                                        <a [routerLink]="['/profile', game.owner]">{{game.owner}}</a>
                                </div>
                                <p class="game-card-status" *ngIf="this.tradeService.alreadyRequested(game)">Request pending</p>
                                <button *ngIf="dataService.currentUser && !this.tradeService.alreadyRequested(game)" (click)=" this.tradeService.getTradeData(); this.tradeService.requestTrade(this.dataService.userData.username, game)">Request Trade</button>
                        </div>
                </div>
        </div>

        <ng-template #noHomeGames>
                <p class="content-description">There are no games to display.</p>
        </ng-template>
</div>


<ng-template #loggedOut>
        <div class="splash-bg">
        </div>
        <div class="splash-text">
                <h1>GameTrader</h1>
                <h2>A club for gamers.</h2>
                <h2>Trade video games with other gamers.</h2>
                <button id="sign-up-link" routerLink="register">Sign up for free!</button>
        </div>

        <!-- TOP RIGHT CORNER OF SCREEN -->
        <button id="sign-in-link" routerLink="login">Sign in</button>
</ng-template>