<div id="splash" *ngIf="this.dataService.currentUser">
        <!-- SPLASH -->
        <form class="main-search-form" [formGroup]="searchForm">
                <input type="text" formControlName="query" name="query" placeholder="this does not work yet.">
                <input type="submit" value="Search">
        </form>
</div>

<div class="container" *ngIf="this.dataService.currentUser; else loggedOut">
        <div class="game-grid">
                <div *ngFor="let game of this.homeGames">
                        <div class="game-card" *ngIf="game.available">
                                <img src="{{game.cover}}">
                                <p>{{game.title}}</p>
                                <p>{{game.platform}}</p>
                                <p>
                                  <a [routerLink]="['/profile', game.owner]">{{game.owner}}</a>
                                </p>
                                <button *ngIf="dataService.currentUser" (click)="this.tradeService.requestTrade(this.dataService.userData.username, game)">Request Trade</button>
                        </div>
                </div>
        </div>
</div>


<ng-template #loggedOut>
        <div class="splash-text">
                <h1>GameTrader</h1>
                <h2>A club for gamers.</h2>
                <h2>Trade console games with other gamers in your city.</h2>
                <a id="sign-up-link" routerLink="register">Sign up for free!</a>
        </div>

        <!-- TOP RIGHT CORNER OF SCREEN -->
        <a id="sign-in-link" routerLink="login">Sign in</a>
</ng-template>