
.splash-bg {
    height: 100vh;
    width: 100%;
    background: url('https://images.pexels.com/photos/159204/game-controller-joystick-joypad-gamepad-159204.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    filter: grayscale(.75);
}

.splash-text h1 {
    font-family: 'Orbitron';
    font-size: 3rem;
}

.splash-text {
    height:100vh;
    width: 100%;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 50px;
}

#sign-in-link {
    position: absolute;
    top: 20px;
    right: 50px;
    z-index: 2;
}

#splash {
    height: 400px;
    margin: 100px auto 0 auto;
    width: 100%;
    background: url('/assets/heroes.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.splash-blocks-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.splash-block1 {
    background: rgba(0, 0, 255, 0.4);
    width: 100%;
    padding: 20px 0;
}

.splash-block2 {
    width: 50%;
    padding: 5px 0;
    color: #FFF;
    list-style-type: none;
    text-align: center;
}

.splash-block3 {
    width: 50%;
    padding: 5px 0;
    color: #FFF;
    list-style-type: none;
    text-align: center;
}


.splash-block2 li,
.splash-block3 li {
    display: inline-block;
    padding: 20px;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
}

.splash-block1 a,
.splash-block1 h1,
.splash-block1 h4 {
    color: yellow;
    margin: 0 auto;
}

#splash h1 {
    font-family: 'Orbitron';
}


