
.dev-tools {
    position: fixed;
    right: 10px;
    top: 50%;
    padding: 10px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
}

.nav-bar {
    height: auto;
    width: 100%;
    background: none;
    color: #FFF;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
}

.nav-bar ul {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: row;
    margin: 0;
}

.nav-bar ul li {
    list-style-type: none;
}

.nav-bar ul li a{
    text-decoration: none;
    color: #FFF;
    padding: 10px 15px;
    display: inline-block;
}

.nav-bar ul li a:hover {
    background: Green;
}

.selected {
    border-bottom: 3px blue solid;
}

#home-link {
    font-size: 2rem;
    padding: 10px 25px;
    font-family: 'Orbitron';
    color: #FFF;
    text-decoration: none;
}