<a id="home-link" routerLink="/">GameTrader</a>

<nav *ngIf="this.dataService.currentUser" class="nav-bar">
    <ul>
        <li>
            <a routerLink="/myGames">My Games</a>
        </li>

        <li>
            <a routerLink="/myTrades">My Trades</a>
        </li>

        <li>
            <a routerLink="/dashboard">Account</a>
        </li>

        <li>
            <a (click)="this.dataService.logout()">Sign Out</a>
        </li>

        <li>
            <a (click)="this.dataService.test()">dataService test</a>
        </li>

        <li>
            <a (click)="this.gamesDataService.test()">gamesDataService test</a>
        </li>

    </ul>
</nav>

<router-outlet></router-outlet>