

.nav-bar {
    height: auto;
    width: 100%;
    background: none;
    color: #FFF;
    font-size: 1rem;
    display: flex;
    justify-content: flex-end;
}

.nav-bar ul {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: row;
    margin: 0;
}

.nav-bar ul li {
    list-style-type: none;
}

.nav-bar ul li a{
    text-decoration: none;
    color: #FFF;
    padding: 10px 15px;
    display: inline-block;
}

.nav-bar ul li a:hover {
    background: Green;
}

#home-link {
    font-size: 2rem;
    position: absolute;
    left: 20px;
    top: 20px;
    color: #FFF;
    text-decoration: none;
}