<nav class="nav-bar">
    <ul>

        <li>
            <a routerLink="/">Home</a>
        </li>

        <li *ngIf="!this.dataService.currentUser">
            <a routerLink="/register">Sign Up</a>
        </li>

        <li *ngIf="!this.dataService.currentUser">
            <a routerLink="/login">Sign In</a>
        </li>

        <li *ngIf="this.dataService.currentUser">
            <a routerLink="/myGames">My Games</a>
        </li>

        <li *ngIf="this.dataService.currentUser">
            <a routerLink="/myTrades">My Trades</a>
        </li>

        <li *ngIf="this.dataService.currentUser">
            <a routerLink="/dashboard">Account</a>
        </li>

        <li *ngIf="this.dataService.currentUser">
            <a (click)="this.dataService.logout()">Sign Out</a>
        </li>

        <li>
            <a (click)="this.dataService.test()">dataService test</a>
        </li>

        <li>
            <a (click)="this.gamesDataService.test()">gamesDataService test</a>
        </li>

    </ul>
</nav>

<router-outlet></router-outlet>