
.dev-tools {
    position: fixed;
    right: 10px;
    top: 50%;
    padding: 10px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
}

.nav-bar {
    box-shadow: 2px 2px 5px rgb(75, 75, 75);
    background: rgb(20, 20, 20);
    height: 50px;
    width: 100%;
    color: #FFF;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
}

.nav-bar ul {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: row;
    margin: 0;
}

.nav-bar ul li {
    list-style-type: none;
    height: 100%;
}

.nav-bar ul li a{
    height: 50px;
    text-decoration: none;
    color: #FFF;
    padding: 0 20px;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar ul li a:hover {
    background: Green;
}

.selected {
    border-bottom: 3px blue solid;
}

#home-link {
    font-size: 1.5rem;
    padding: 10px 25px;
    font-family: 'Orbitron';
    color: #FFF;
    text-decoration: none;
}