<div class="container">


<h1 class="component-title">Sign Up</h1>
  <form [formGroup]="registrationForm" (ngSubmit)="this.dataService.register(registrationForm.value)">

    <label>First name:
      <input type="text" formControlName="first" name="first">
    </label>

    <label>Last name:
      <input type="text" formControlName="last" name="last">
    </label>

    <label>Username:
      <input type="text" formControlName="username" name="username">
    </label>

    <label>City:
      <input type="text" formControlName="city" name="city">
    </label>

    <label>State:
      <input type="text" formControlName="state" name="state">
    </label>

    <label>Country:
      <input type="text" formControlName="country" name="country">
    </label>

    <label>Email Address:
      <input type="email" formControlName="email" name="email">
    </label>

    <label>Re-type Email Address:
      <input type="email" formControlName="email2" name="email2">
    </label>

    <label>Password:
      <input type="password" formControlName="password" name="password">
    </label>

    <label>Re-type Password:
      <input type="password" formControlName="password2" name="password2">
    </label>

    <input type="submit" value="Submit" [disabled]="!registrationForm.valid">

  </form>

</div>
