<div class="profile-container">
  <div class="profile-column">
    <div class="gamer-card theme">
      <img class="profile-img" src="{{this.dataService.profilePics[profileData.profile.picture]}}">
      <div>
      <h3>{{username}}</h3>
      <h4 *ngIf="profileData.profile['display name']">{{profileData.first}} {{profileData.last}}</h4>
      <h4 *ngIf="profileData.profile['display email']">{{profileData.email}}</h4>
      <h4>{{profileData.city}}, {{profileData.state}}, {{profileData.country}}</h4>
    </div>
      <br>
      <p>{{profileData.profile.bio}}</p>
    </div>
    <div class="gamer-card theme">

      <p>Leave a review:</p>
      <form class="review-form" *ngIf="this.dataService.currentUser" [formGroup]="reviewForm" (ngSubmit)="postReview(username, reviewForm.value)">
        <textarea name="reviewBody" formControlName="reviewBody" name="reviewBody">
    </textarea>
        <input type="submit" value="Submit" [disabled]="!reviewForm.valid">
      </form>
    </div>
  </div>
  <div class="profile-column">
    <h3>My Reviews:</h3>

    <div *ngIf="profileData.profile.reviews.length > 0; else noReviews" class="review-container">
      <div class="review-card" *ngFor="let review of profileData.profile.reviews?.reverse()">
        <p>{{review.body}}</p>
        <br>
        <p>{{review.date | date:'fullDate'}}</p>
        <p>Posted by:
          <a [routerLink]="['/profile', review.reviewer]">{{review.reviewer}}</a>
        </p>
      </div>
    </div>

    <ng-template #noReviews>
      <p class="content-description">There are no reviews for this user.</p>
    </ng-template>

    <br>

    <h3>My Games:</h3>

    <div *ngIf="profileData.games.length > 0; else noGames" class="game-grid">
      <div *ngFor="let game of profileData.games" class="game-card">
        <div class="game-card-img-container">
          <img src="{{game.cover}}">
        </div>
        <div class="game-card-p-container">
          <p>{{game.title}}</p>
          <p>{{game.platform}}</p>
        </div>

        <div *ngIf="this.isAvailable(game); else gameUnavailable">
          <button *ngIf="!this.tradeService.alreadyRequested(game); else alreadyRequested" (click)="this.tradeService.requestTrade(this.dataService.userData.username, game)">Request Trade</button>
          <ng-template #alreadyRequested>
            <p class="game-card-status">Request Pending</p>
          </ng-template>
        </div>
        <ng-template #gameUnavailable>
          <p class="game-card-status">Unavailable</p>
        </ng-template>
      </div>
    </div>

    <ng-template #noGames>
      <p class="content-description">There are no games for this user.</p>
    </ng-template>

  </div>
</div>