<div class="container">

  <h1>{{username}}</h1>

  <h1>{{profileData.first}} {{profileData.last}}</h1>
  <h1>{{profileData.email}}</h1>
  <h1>{{profileData.city}}, {{profileData.state}} {{profileData.country}}</h1>

  <h2>Games available for trade:</h2>

  <div class="game-grid">
    <div *ngFor="let game of profileData.games" class="game-card">
      <div class="game-card-img-container">
        <img src="{{game.cover}}">
      </div>
      <div class="game-card-p-container">
        <p>{{game.title}}</p>
        <p>{{game.platform}}</p>
      </div>

      <button (click)="this.tradeService.requestTrade(this.dataService.userData.username, game)">Request Trade</button>
    </div>
  </div>

</div>