  <div class="container">
  
  <h1 class="component-title">Sign In</h1>
  <form class="theme" [formGroup]="loginForm" (ngSubmit)="this.dataService.login(loginForm.value)">

      <label>Name
        <input type="text" formControlName="username" name="username">
      </label>

      <label>Password
        <input type="password" formControlName="password" name="password">
      </label>

      <input type="submit" class="button expanded" value="Submit" [disabled]="!loginForm.valid">
</form>

</div>

