<div class="container">
    <ul id="tab-menu">
        <li>
            <a (click)="displayContent('My Games')">My Games</a>
        </li>
        <li>
            <a (click)="displayContent('Add Games')">Add Games</a>
        </li>
    </ul>

    <div *ngIf="displayMyGames" class="tab-content">
        <h1 class="component-title">My Games</h1>
        <p>Games added here will be displayed as available for trade.</p>
        <div class="game-grid">
            <div class="game-card" *ngFor="let game of this.dataService.userData.games">
                <img style="height:130px; width: 90px;" src="..\assets\square-placeholder.jpg"> 
                {{game}}
                <button (click)="this.dataService.deleteGame(game)">Delete</button>
            </div>
        </div>

    </div>

    <div *ngIf="displayAddGames" class="tab-content">
        <h1 class="component-title">Add Games</h1>

        <form [formGroup]="searchForm" (ngSubmit)="this.gamesDataService.searchGame(searchForm.value)">
            <label>Search for a game:
                <input type="text" formControlName="query" name="query">
            </label>

            <input type="submit" value="Search" [disabled]="!searchForm.valid">

        </form>

        <div class="game-grid">
            <div class="game-card" *ngFor="let game of this.gamesDataService.searchResults">
                <img style="height:130px; width: 90px;" src="..\assets\square-placeholder.jpg"> {{game.name}}
                <button (click)="this.dataService.addGame(game)">Add Game</button>
            </div>
        </div>
    </div>


</div>