<div class="container">
    <ul id="tab-menu">
        <li>
            <a (click)="displayContent('My Games')">My Games</a>
        </li>
        <li>
            <a (click)="displayContent('Add Games')">Add Games</a>
        </li>
    </ul>

    <div *ngIf="displayMyGames" class="tab-content">
        <h1 class="component-title">My Games</h1>
        <p>Games added here will be displayed as available for trade.</p>
        <div class="game-grid">
            <div class="game-card" *ngFor="let game of this.dataService.userData.games">
                <img src="{{game.cover}}"> 
                <p>{{game.name}}</p>
                <p>{{game.platform}}</p>
                <button (click)="this.dataService.deleteGame(game.name)">Delete</button>
            </div>
        </div>

    </div>

    <div *ngIf="displayAddGames" class="tab-content">
        <h1 class="component-title">Add Games</h1>

        <form [formGroup]="searchForm" (ngSubmit)="this.gamesDataService.searchGame(searchForm.value)">
            <label>Search for a game:
                <input type="text" formControlName="query" name="query">
            </label>

            <input type="submit" value="Search" [disabled]="!searchForm.valid">

        </form>

        <div class="game-grid">
            <div class="game-card" *ngFor="let game of this.gamesDataService.searchResults">
                <img src={{game.cover}}> 
                <p>{{game.name}}</p>
                <select [(ngModel)]="selectedOption">
                    <option>Select a platform</option>
                    <option value="PlayStation 2">PlayStation 2</option>
                    <option value="PlayStation 3">PlayStation 3</option>
                    <option value="PlayStation 4">PlayStation 4</option>
                    <option value="PC">PC</option>
                    <option value="Wii">Wii</option>
                    <option value="Wii U">Wii U</option>
                    <option value="X Box One">X Box One</option>
                    <option value="X Box 360">X Box 360</option>
                    <option value="X Box">X Box</option>
                </select>
                <button (click)="this.dataService.addGame(game, selectedOption)">Add Game</button>
            </div>
        </div>
    </div>


</div>